<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhmtl1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{{title}}</title>
</head>
<body>
{% if  user %}
  <li>name:{{user.name}}</li>
{% else %}
  <li>name:不存在</li>
{% endif %}
id:{{id}}
<h1><a>tell me how to use Django!</a></h1>
{% for book in book_list %}
<li>{{book}}</li>
{% endfor %}

用户名称调用
<hr>
{% for k,v in user.items %}
<li>{{forloop.counter}}:{{k}}:{{v}}</li>
{% endfor %}
tell me
</body>
</html
